---
import { Picture } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
import type { TimeRecord, TimeSlotInfo } from "../../models/airtable";
import { getData } from "../../util/fetchUtil";
import { formatDate } from "../../util/localeUtil";
import { getRoomName, getNiceType, getImageUrl } from "../../util/util";
import { marked } from "marked";
export interface Props {
  slot: TimeRecord;
}

export async function getStaticPaths() {
  const data = await getData();

  return data.map((timeSlot) => {
    return {
      params: { id: timeSlot.id },
      props: { slot: timeSlot },
    };
  });
}

function getDateString(date: string) {
  return formatDate(date, "EEEE dd");
}

function getSubtitleString(slot: TimeSlotInfo) {
  return `${getNiceType(slot.type)} - ${slot.duration} | kl. ${
    slot.start
  } ${getDateString(slot.date)} | Rom: ${slot.room}`;
}

function getDescriptionParsedAsMarkdown(description: string) {
  return marked.parse(description);
}

const { slot } = Astro.props;
const slotInfo = slot.fields;
---

<Layout
  title={slotInfo.title + " - Knowit Fagseminar Roma"}
  currentPage="Program"
>
  <main class="h-full my-auto lg:pt-10">
    <article
      class="grid grid-flow-row gap-10 justify-between m-auto article max-w-screen-2xl"
    >
      <header>
        <h2 class="block text-4xl lg:text-5xl font-bold w-full">
          {slotInfo.title}
        </h2>
        <h3 class="text-2xl h-fit text-ellipsis w-full">
          <span
            >{getNiceType(slotInfo.type)} - <strong
              >{slotInfo.duration} Min <b class="">|</b>
            </strong>
          </span><span>
            kl.
            {slotInfo.start}
            <strong>{getDateString(slotInfo.date)} <b class="">|</b></strong>
          </span><span>
            Rom: <strong>{getRoomName(slotInfo.room)}</strong>
          </span>
        </h3>
        {
          slot.fields.type === "workshop" ? (
            <a
              class="italic text-lg underline text-klollipop"
              href="https://www.app2u.se/ords/f?p=700:1012:::::P0_EVENT_ID,P0_PAGE_ID,P0_INVITATION_CODE:7641976,7872744,BvuiznGrjfT9bCkCH7Gcf8e3426"
            >
              Workshop Påmelding
            </a>
          ) : (
            ""
          )
        }
      </header>

      <main
        class="text-lg"
        set:html={getDescriptionParsedAsMarkdown(slotInfo.description ?? "")}
      >
      </main>

      <footer class="bio-container flex gap-y-5 gap-x-6 w-full">
        <section class="flex flex-col justify-center items-center min-w-fit">
          <div class="image rounded-2xl inline-block relative overflow-hidden">
            <Picture
              widths={[200, 400, 800]}
              sizes="(max-width: 800px) 100vw, 800px"
              formats={["avif", "webp"]}
              src={import(`../../pictures/${slot.id}.png`)}
              alt=""
              class=""
            />
          </div>
          <h4 class="font-semibold text-lg">{slotInfo.userIds}</h4>
          <a href={`mailto: ${slot.fields.email}`}><em>{slotInfo.email}</em></a>
        </section>
        <p class="my-auto md:w-full md:max-w-prose bio">
          {slotInfo.speaker_bio}
        </p>
      </footer>
    </article>
  </main>
</Layout>

<style is:global>
  .image picture,
  .image source,
  .image img {
    @apply max-h-60  lg:max-h-80;
  }
</style>

<style>
  .image {
    @apply max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl;
  }

  h3 > span {
    @apply block sm:inline;
  }

  b {
    @apply align-middle text-center mb-2 hidden sm:inline-block;
  }

  @media (max-width: 768px) {
    .bio-container {
      @apply flex-wrap justify-center text-center;
    }
  }

  strong {
    @apply font-semibold;
  }

  p {
    @apply text-lg;
  }
</style>
