---
import Layout from "../../layouts/Layout.astro";
import type { TimeRecord, TimeSlotInfo } from "../../models/airtable";
import { getData } from "../../util/fetchUtil";
import { formatDate } from "../../util/localeUtil";
import speakerPhotosJson from "../../json/speaker_photos.json";
import { getRoomName, getNiceType } from "../../util/util";
export interface Props {
  slotInfo: TimeSlotInfo;
  photoKeys: { photoName: String; googleId: String; apiID: String };
}

export async function getStaticPaths() {
  const data = await getData();

  return data.map((timeSlot) => {
    const speakerPhoto = speakerPhotosJson.find(
      (photo) => photo.apiID === timeSlot.id
    );

    const fields = timeSlot.fields;
    return {
      params: { id: timeSlot.id },
      props: { slotInfo: fields, photoKeys: speakerPhoto },
    };
  });
}

function getDateString(date: string) {
  return formatDate(date, "EEEE dd");
}

function getSubtitleString(slot: TimeSlotInfo) {
  return `${getNiceType(slot.type)} - ${slot.duration} | kl. ${
    slot.start
  } ${getDateString(slot.date)} | Rom: ${slot.room}`;
}

const { slotInfo, photoKeys } = Astro.props;
---

<Layout
  title={slotInfo.title + " - Knowit Fagseminar Roma"}
  currentPage="Program"
>
  <main class="h-full my-auto sm:w-11/12">
    <article
      class="max-w-fit grid grid-flow-row gap-10 justify-between m-auto article"
    >
      <section>
        <h2 class="block text-5xl font-bold w-full">{slotInfo.title}</h2>
        <h3 class="text-2xl h-fit text-ellipsis w-full">
          {getNiceType(slotInfo.type)} - <strong>{slotInfo.duration}</strong>
          kl. {slotInfo.start}
          <strong>{getDateString(slotInfo.date)}</strong>
          Rom: <strong>{getRoomName(slotInfo.room)}</strong>
        </h3>
      </section>

      <p class="text-lg">{slotInfo.description}</p>

      <div class="bio-container flex gap-y-5 gap-x-6 w-full">
        <section class="flex flex-col justify-center items-center min-w-fit">
          <div
            class="max-w-2xl rounded-2xl inline-block relative overflow-hidden w-fit max-h-60"
          >
            <img
              src={`/Fagseminar-2022/pictures/${photoKeys.photoName}`}
              alt=""
              class="max-w-sm w-40"
            />
          </div>
          <h4 class="font-semibold text-lg">{slotInfo.userIds}</h4>
          <em>{slotInfo.email}</em>
        </section>
        <p class="my-auto md:w-full md:max-w-prose bio">
          {slotInfo.speaker_bio}
        </p>
      </div>
    </article>
  </main>
</Layout>

<style>
  @media (max-width: 768px) {
    .bio-container {
      @apply flex-wrap justify-center text-center;
    }
  }

  strong {
    @apply font-semibold;
  }

  p {
    @apply text-lg;
  }

  .article {
    grid-template-rows: ;
  }
</style>
