---
import FavoriteButton from "../Favorite/FavoriteButton.svelte";

export interface Props {
  id: string;
  title: string;
  href: string;
  time: string;
  duration: string;
  userName: string;
}

const { id, href, title, userName, time, duration } = Astro.props;
---

<li class="link-card">
  <div class="space-x-1 flex justify-between">
    <p>{time}</p><p>{duration}</p>
  </div>
  <a href={href}>
    <h2>
      {userName}
    </h2>
    <p class="text-ellipsis">
      {title}
    </p>
  </a>
  <FavoriteButton client:visible id={id} />
  <hr class="border-kflamingo border-[1.5px]" />
</li>
<style>

</style>
